{% assign s = section.settings %}

<!-- Top header -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-transparent dark-text">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" href="{{ routes.root_url }}">
          <img src="{{  s.logo |  image_url  }}" class="logo" alt="">
        </a>
        <div class="nav-toggle"></div>
        <div class="mobile_nav">
          <ul>
            <li>
              <a href="#" onclick="openSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#login">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" onclick="openWishlist()">
                <i class="fa fa-heart" aria-hidden="true"></i><span class="dn-counter">2</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="openCart()">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="dn-counter">0</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">
          <ul class="nav-menu">
            {% for main__menu in s.menu.links %}
              <li>
                <a href="{{  main__menu.url |  handleize }}">{{  main__menu.title }}</a>
                {% if main__menu.links.size > 0 %}
                  <ul class="nav-dropdown nav-submenu">
                    {% for sub__menu in main__menu.links %}
                      <li><a href="{{  sub__menu.url }}">{{ sub__menu.title }}</a></li>
                    {% endfor %}
                   
                   
                  </ul>
                {% endif %}
               
              </li>
            {% endfor %}
           
          </ul>
        </ul>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li>
            <a href="#" onclick="openSearch()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#login">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" onclick="openWishlist()">
              <i class="fa fa-heart" aria-hidden="true"></i><span class="dn-counter">2</span>
            </a>
          </li>
          <li>
            <a href="#" onclick="openCart()">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <span class="dn-counter">3</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header -->
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
      ]
  }
  {% endschema %}
  